<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
      <!--autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="internal-nlog.txt"-->


  <targets async="false">
    <!--写入文件-->
    <target   xsi:type="File" name="DebugFile"   fileName="Logs\Debug\${shortdate}.log"
     layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
    <target   xsi:type="File" name="InfoFile"    fileName="Logs\Info\${shortdate}.log"
      layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
    <target  xsi:type="File"  name="ErrorFile"   fileName="Logs\Error\${shortdate}.log"
      layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
    <target  xsi:type="File"  name="TraceFile"   fileName="Logs\Trace\${shortdate}.log"
     layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
    <target   xsi:type="File" name="WarnFile"    fileName="Logs\Warn\${shortdate}.log"
     layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
    <target   xsi:type="File" name="FatalFile"   fileName="Logs\Fatal\${shortdate}.log"
     layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
    <target   xsi:type="ColoredConsole" name="coloredConsole"
    layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>

    <target xsi:type="Database" name="database">
      <dbProvider>Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite</dbProvider>
      <connectionString>Data Source=TestBed.db;</connectionString>
      <commandText>
        insert into LoggerInfo(MessTime,Level,Message,UserName,MessageName,Source) values(@MessTime,@Level,@Message,@UserName,@MessageName,@Source) <!--Source:来源-->
      </commandText>
      <parameter name="@MessTime" layout="${longdate}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@UserName" layout="${event-context:item=UserName}" />
      <parameter name="@Message" layout="${exception}" />
      <parameter name="@MessageName" layout="${Message}" />
      <parameter name="@Source" layout="${stacktrace}" />
      <!-- 只记录警告及以上等级的日志 -->
      <levels>
        <add value="Warn" />
      </levels>
    </target>
  </targets>

  <rules>
    <!--根据日志级别分别写文件，也可以放一个文件中-->
    <!--跳过所有级别的Microsoft组件的日志记录-->
    <logger name="Microsoft.*" final="true" />
    <logger name="*" level="Trace" writeTo="ErrorFile" />
    <logger name="*" level="Debug" writeTo="DebugFile" />
    <logger name="*" level="Info" writeTo="InfoFile" />
    <logger name="*" level="Warn" writeTo="ErrorFile" />
    <logger name="*" level="Error" writeTo="ErrorFile" />
    <logger name="*" level="Fatal" writeTo="ErrorFile" />
    <!--写数据库，日志规则-->
    <!--当前设置只有[Trace]等级记录在数据库，如客户需要显示日志，则可用-->
    <logger name="*" maxlevel="Trace"  writeTo="database"/>   
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
  </rules>
</nlog>